<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>376923987395-f8g62fv1jdg40trj7ukqm9ddm86cmvj0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.376923987395-f8g62fv1jdg40trj7ukqm9ddm86cmvj0</string>
	<key>API_KEY</key>
	<string>AIzaSyB-_MgaJEzEZVykXazwthI9jJUVPBs8G08</string>
	<key>GCM_SENDER_ID</key>
	<string>376923987395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tastybox.shihomikitajima</string>
	<key>PROJECT_ID</key>
	<string>tastybox-26946</string>
	<key>STORAGE_BUCKET</key>
	<string>tastybox-26946.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376923987395:ios:87815035561d4f00fb3176</string>
</dict>
</plist>